<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ class.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Name:</strong> &nbsp;{{ class.name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ class.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ class.display_updated_at }}
  </li>
</ul>
