<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("UID_LABEL") }}:</strong> &nbsp;{{ department.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("NAME_LABEL") }}:</strong> &nbsp;{{ department.name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("DESCRIPTION_LABEL") }}:</strong> &nbsp;{{ department.description }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("CREATED_AT_SUCCESS_MSG") }}:</strong> &nbsp;{{
    department.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("UPDATED_AT_SUCCESS_MSG") }}:</strong> &nbsp;{{
    department.display_updated_at }}
  </li>
</ul>
