<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ employee.uid }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>First Name:</strong> &nbsp;{{ employee.first_name }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Middle Name:</strong> &nbsp;{{ employee.middle_name }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Last Name:</strong> &nbsp;{{ employee.last_name }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Email:</strong> &nbsp;{{ employee.email }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Birthday:</strong> &nbsp;{{ employee.display_birthday }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Age:</strong> &nbsp;{{ employee.age }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Hire Date:</strong> &nbsp;{{ employee.display_hire_date }}
  </li>

  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ employee.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ employee.display_updated_at }}
  </li>
</ul>
