<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ exam.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Title:</strong> &nbsp;{{ exam.title }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Description:</strong> &nbsp;{{ exam.description }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Total Marks:</strong> &nbsp;{{ exam.total_marks }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Date:</strong> &nbsp;{{ exam.display_exam_date }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Time:</strong> &nbsp;{{ exam.display_exam_time }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ exam.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ exam.display_updated_at }}
  </li>
</ul>
