<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ student.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Class UID:</strong> &nbsp;{{ student.class_.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>First Name:</strong> &nbsp;{{ student.user.first_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Middle Name:</strong> &nbsp;{{ student.user.middle_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Last Name:</strong> &nbsp;{{ student.user.last_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Email:</strong> &nbsp;{{ student.user.email }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Birthday:</strong> &nbsp;{{ student.user.display_birthday }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Age:</strong> &nbsp;{{ student.user.age }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ student.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ student.display_updated_at }}
  </li>
</ul>
