<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("UID:") }}</strong> &nbsp;{{ subject.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Name:") }}</strong> &nbsp;{{ subject.name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Description:") }}</strong> &nbsp;{{ subject.description }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Credit:") }}</strong> &nbsp;{{ subject.credit}}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Created At:") }}</strong> &nbsp;{{ subject.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Updated At:") }}</strong> &nbsp;{{ subject.display_updated_at }}
  </li>
</ul>
