<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ teacher.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>First Name:</strong> &nbsp;{{ teacher.user.first_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Middle Name:</strong> &nbsp;{{ teacher.user.middle_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Last Name:</strong> &nbsp;{{ teacher.user.last_name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Email:</strong> &nbsp;{{ teacher.user.email }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Birthday:</strong> &nbsp;{{ teacher.user.display_birthday }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Age:</strong> &nbsp;{{ teacher.user.age }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ teacher.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ teacher.display_updated_at }}
  </li>
</ul>
