<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("UID") }}:</strong> &nbsp;{{ time.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Start Time") }}:</strong> &nbsp;{{ time.start }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("End Time") }}:</strong> &nbsp;{{ time.end }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Created At") }}:</strong> &nbsp;{{ time.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("Updated At") }}:</strong> &nbsp;{{ time.display_updated_at }}
  </li>
</ul>
