<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        {{ _("UID_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("TITLE_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("TOTAL_MARKS_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("EXAM_DATE_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("EXAM_TIME_LABEL") }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for s in exams %}
    <tr>
      <td class="text-xs text-center">{{ s.uid }}</td>
      <td class="text-xs">{{ s.title }}</td>
      <td class="text-xs">{{ s.total_marks }}</td>
      <td class="text-xs">{{ s.display_exam_date }}</td>
      <td class="text-xs">{{ s.display_exam_time }}</td>
    </tr>
    {% else %}
    <tr class="no-rows-label">
      <td colspan="5" class="py-4 text-center">
        <span>{{ _("NO_EXAMS_YET_MSG") }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
