<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        {{ _("UID_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("NAME_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("NUMBER_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("CLASSES_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("SUBJECTS_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("STUDENTS_LABEL") }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for s in semesters %}
    <tr>
      <td class="text-xs text-center">{{ s.uid }}</td>
      <td class="text-xs">{{ s.name }}</td>
      <td class="text-xs">{{ s.number }}</td>
      <td class="text-xs">{{ s.display_number_of_classes }}</td>
      <td class="text-xs">{{ s.display_number_of_subjects }}</td>
      <td class="text-xs">{{ s.display_number_of_students }}</td>
    </tr>
    {% else %}
    <tr class="no-rows-label">
      <td colspan="6" class="py-4 text-center">
        <span>{{ _("NO_SEMESTERS_YET_MSG") }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
