<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        UID
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Student
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Birthday
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Age
      </th>
    </tr>
  </thead>
  <tbody>
    {% if students %} {% for s in students %}
    <tr>
      <td class="text-xs text-center">{{ s.uid }}</td>
      <td>
        <div class="d-flex px-0 py-1">
          <div>
            <img
              src="{{ s.user.avatar_path }}"
              class="avatar avatar-sm me-3 border-radius-lg"
              alt="user1"
            />
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{ s.user.full_name }}</h6>
            <p class="text-xs text-secondary mb-0">{{ s.user.email }}</p>
          </div>
        </div>
      </td>
      <td class="text-xs">{{ s.user.display_birthday }}</td>
      <td class="text-xs">{{ s.user.age }}</td>
    </tr>
    {% endfor %} {% else %}
    <tr class="no-rows-label">
      <td colspan="4" class="py-4 text-center">
        <span>No students yet :(</span>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
