<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        {{ _("UID") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("Name") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("Credit") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("Teachers") }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for s in subjects %}
    <tr>
      <td class="text-xs text-center">{{ s.uid }}</td>
      <td class="text-xs">{{ s.name }}</td>
      <td class="text-xs">{{ s.credit }}</td>
      <td class="text-xs">{{ s.display_number_of_teachers }}</td>
    </tr>
    {% else %}
    <tr class="no-rows-label">
      <td colspan="4" class="py-4 text-center">
        <span>{{ _("No subjects yet :(") }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
