<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        UID
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Name
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Credit
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        Teachers
      </th>
    </tr>
  </thead>
  <tbody>
    {% if department.subjects %} {% for s in department.subjects %}
    <tr>
      <td class="text-xs">{{ s.uid }}</td>
      <td class="text-xs">{{ s.name }}</td>
      <td class="text-xs">{{ s.credit }}</td>
      <td class="text-xs">{{ s.display_number_of_teachers }}</td>
    </tr>
    {% endfor %} {% else %}
    <tr class="no-rows-label">
      <td colspan="4" class="py-4 text-center">
        <span>No subjects yet :(</span>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
