<table
  class="table align-items-center mb-0 table-hover"
  data-type="dynamic"
  data-get-rows="{{ url_for('api.fetch_students_rows') }}"
  data-get-row="{{ url_for('api.fetch_student_row', uid='@')}}"
  data-update-row="{{ url_for('api.update_student')}}"
  data-delete-row="{{ url_for('api.delete_student', uid='@')}}"
  data-view-row="{{ url_for('admin.view', entity='student', uid='@') }}"
  data-add-row-modal-id="#AddStudentModal"
  data-edit-row-modal-id="#EditStudentModal"
  data-view-row-modal-id="#ViewModal"
>
  <thead></thead>
  <tbody></tbody>
</table>
