<div class="col-lg-8 col-md-6 mt-2 mb-4">
  <div class="card">
    <div class="card-body">
      <h6 class="mb-0">{{ _("Classes") }}</h6>
      <p class="text-sm">{{ _("Last 12 Month") }}</p>
      <div class="pe-2">
        <div class="chart">
          <canvas
            id="yearly-classes"
            class="chart-canvas"
            height="170"
            data-get="{{ url_for('api.yearly', index=1) }}"
          ></canvas>
        </div>
      </div>
      <hr class="dark horizontal" />
      <div class="d-flex">
        <i class="material-symbols-rounded text-sm my-auto me-1"
          >{{ Class.yearly_growth_icon() }}</i
        >
        <p class="mb-0 text-sm">
          <span class="text-{{ Class.yearly_growth_clr() }} font-weight-bolder"
            >{{ Class.display_yearly_growth() }} </span
          >{{ _("than last year") }}
        </p>
      </div>
    </div>
  </div>
</div>
