{% with f = form.u %}
<form
  method="POST"
  action="{{ url_for('api.update_class') }}"
  data-get="{{ url_for('api.fetch_class', uid='@') }}"
>
  {{ f.hidden_tag() }}

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.cls_name.label(class="form-label") }} {{
        f.cls_name(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.teacher_id.label(class="form-label") }} {{
          f.teacher_id(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.semester_id.label(class="form-label") }} {{
          f.semester_id(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.time_id.label(class="form-label") }} {{
          f.time_id(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <div class="text-center">
        {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
      </div>
    </div>
  </div>
</form>
{% endwith %}
