{% with f = form.u %}
<form
  autocomplete="off"
  method="POST"
  action="{{ url_for('api.update_student') }}"
  enctype="multipart/form-data"
  data-get="{{ url_for('api.fetch_student', uid='@') }}"
>
  {{ f.hidden_tag() }}

  <div class="row">
    <div class="col-12 float-end">
      <div class="row mb-5 mt-4">
        <div class="col-md-12">
          <div class="d-flex justify-content-center">
            <div class="avatar position-relative drop-zone">
              <img
                src="{{ DEFAULT_AVATAR_URL }}"
                alt="profile_image"
                class="rounded-pill shadow-sm shadow-xl w-100 cursor-pointer output"
                data-role="image"
              />
              {{ f.avatar(class="form-control d-none") }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-md-4">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.first_name.label(class="form-label") }}
              {{ f.first_name(class="form-control") }}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.middle_name.label(class="form-label") }}
              {{ f.middle_name(class="form-control is-invalid") }}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.last_name.label(class="form-label") }}
              {{ f.last_name(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.father_name.label(class="form-label") }}
              {{ f.father_name(class="form-control") }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.grandfather_name.label(class="form-label") }}
              {{ f.grandfather_name(class="form-control is-invalid") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.identity_card_type.label(class="form-label") }}
            </div>
            {{ f.identity_card_type(class="form-control", data_style="btn btn-outline-dark text-auto") }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.electronic_tazkira_number.label(class="form-label") }} {{
              f.electronic_tazkira_number(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.tazkira_folder.label(class="form-label") }}
              {{ f.tazkira_folder(class="form-control") }}
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.tazkira_page_number.label(class="form-label") }}
              {{ f.tazkira_page_number(class="form-control") }}
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.tazkira_registration_number.label(class="form-label") }}
              {{ f.tazkira_registration_number(class="form-control") }}
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-6">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.tazkira_sakok_number.label(class="form-label") }}
              {{ f.tazkira_sakok_number(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.user_name.label(class="form-label") }} {{
              f.user_name(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.email.label(class="form-label") }} {{
              f.email(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.password.label(class="form-label") }} {{
              f.password(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.kankor_id.label(class="form-label") }}
              {{ f.kankor_id(class="form-control is-invalid") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="multi-value-input card">
              <div class="input-group input-group-outline">
                {{ f.phones.label(class="form-label") }} {{
                f.phones(class="form-control") }}
              </div>
              <div class="values d-flex flex-wrap"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-6">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.permanent_province.label(class="form-label") }}
            </div>
            {{ f.permanent_province(class="form-control", data_style="btn btn-outline-dark text-auto") }}
          </div>
        </div>

        <div class="col-6">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.permanent_district.label(class="form-label") }}
            </div>
            {{ f.permanent_district(class="form-control", data_style="btn btn-outline-dark text-auto") }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.permanent_village.label(class="form-label") }}
              {{ f.permanent_village(class="form-control", data_style="btn btn-outline-dark text-auto") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-6">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.current_province.label(class="form-label") }}
            </div>
            {{ f.current_province(class="form-control", data_style="btn btn-outline-dark text-auto") }}
          </div>
        </div>

        <div class="col-6">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.current_district.label(class="form-label") }}
            </div>
            {{ f.current_district(class="form-control", data_style="btn btn-outline-dark text-auto") }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.current_village.label(class="form-label") }}
              {{ f.current_village(class="form-control", data_style="btn btn-outline-dark text-auto") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="px-2 py-0 my-0">
              {{ f.birthday.label(class="form-label") }}
            </div>
            <div class="input-group input-group-outline">
              {{ f.birthday(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.class_id.label(class="form-label") }} {{
              f.class_id(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.daily_section_uid.label(class="form-label") }}
              {{ f.daily_section_uid (class="form-control") }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="card-header pb-0 pt-0">
            <h6>{{ _("EDUCATIONAL_BACKGROUND_LABEL") }}</h6>
            <p class="text-sm text-muted mb-0">
                {{ _("EDUCATIONAL_BACKGROUND_DESC") }}
            </p>
        </div>
        <div class="row gy-2">
          <div class="col-12">
            <div class="input-group input-group-outline">
              <label class="form-label">{{ _("HIGH_SCHOOL_NAME_LABEL") }}</label>
              {{ f.high_school_name(class="form-control") }}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-outline">
              <label class="form-label">{{ _("HIGH_SCHOOL_REGISTRATION_NO_LABEL") }}</label>
              {{ f.high_school_registration_no(class="form-control") }}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-outline">
              <label class="form-label">{{ _("GRADUATION_YEAR_LABEL") }}</label>
              {{ f.high_school_graduation_year(class="form-control") }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-header pb-0 pt-3">
          <h6>{{ _("HIGH_SCHOOL_SCORES_LABEL") }}</h6>
          <p class="text-sm text-muted mb-1">
            {{ _("HIGH_SCHOOL_SCORES_DESC") }}
          </p>
        </div> 
        <table class="mx-auto text-center school-subjects">
          <thead>
            <tr>
              <td></td>
              {% for g in SchoolGrade.query.all() %}
                <td class="px-0"><div class="text-sm">{{ _(g.name) }}</div></td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for s in SchoolSubject.query.all() %}
              <tr data-school-subject-uid="{{ s.uid }}">
                <td class="p-0 m-0"><div class="text-sm row-wrapper">{{ _(s.label) }}</div></td>
                {% for g in SchoolGrade.query.all() %}
                  {% if g in s.school_grades %}
                    {% with name = g.name | replace("_LABEL", "")  %}
                    <td class="p-1 m-0">
                      <div class="input-group input-group-outline input-group-sm">
                        <input type="number" class="form-control" value="0" id="GRADE_{{ g.uid }}_{{ s.uid }}" name="GRADE_{{ g.uid }}_{{ s.uid }}" data-name="{{ name | lower }}">
                      </div>
                    </td>
                    {% endwith %}
                  {% else %}
                      <td class="p-1 m-0">
                        <div class="input-group input-group-outline input-group-sm">
                          <input type="number" class="form-control" readonly>
                        </div>
                      </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td class="p-0 pt-2">
                <div class="text-sm">{{ _("MAJMUE_LABEL") }}</div>
              </td>

              {% for g in SchoolGrade.query.all() %}
                {% with name = g.name | replace("_LABEL", "")  %}
                  <td class="p-0 pt-2">
                    <div class="text-sm" data-sum="{{ name | lower }}">
                      <input class="bg-transparent border-0 form-control p-0 text-auto text-center w-100" id="{{ name | lower }}_sum" name="{{ name | lower }}_sum" type="text" disabled />
                    </div>
                  </td>
                {% endwith %}
              {% endfor %}
            </tr>
            <tr>
              <td class="p-0 pt-1">
                <div class="text-sm">{{ _("AVERAGE_LABEL") }}</div>
              </td>
              {% for g in SchoolGrade.query.all() %}
                {% with name = g.name | replace("_LABEL", "")  %}
                  <td class="p-0 pt-2">
                    <div class="text-sm" data-avg="{{ name | lower }}">
                        <input class="bg-transparent border-0 form-control p-0 text-auto text-center w-100" id="{{ name | lower }}_avg" name="{{ name | lower }}_avg" type="text" disabled />
                      </div>
                  </td>
                {% endwith %}
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-12">
          <div class="mx-2">{{ f.files.label(class="form-label") }}</div>
          <div class="card drop-zone position-relative">
            <div
              class="d-grid align-item-center align-content-center justify-content-center w-100 h-100 py-5"
            >
              <div class="text-center">
                <i class="material-symbols-rounded opacity-5 fs-1">upload</i>
              </div>
              <span
                ><strong
                  class="open-default-file-input-modal cursor-pointer"
                  data-id="{{ f.files.id }}"
                  >{{ _("CHOOSE_A_FILE_MSG") }}</strong
                >
                {{ _("OR_DRAG_IT_HERE_MSG") }}</span
              >
            </div>

            <div class="list-section pt-0 pb-2 px-2">
              <hr class="dark horizontal mb-3 mt-0" />
              <div class="list-title fs-5 m-2">{{ _("UPLOADED_FILES_LABEL") }}</div>
              <ul class="list-unstyled d-flex flex-wrap mt-4 mx-2 px-2 justify-content-center"></ul>
            </div>
            {{ f.files(class="form-control d-none") }}
          </div>
        </div>
      </div>

      <div class="text-center">
        {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
      </div>
    </div>
  </div>
</form>
{% endwith %}
