{% with f = form.u %}
<form
  autocomplete="off"
  method="POST"
  action="{{ url_for('api.update_subject') }}"
  data-get="{{ url_for('api.fetch_subject', uid='@') }}"
>
  {{ f.hidden_tag() }}

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.name.label(class="form-label") }} {{ f.name(class="form-control")
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="px-2 py-0 my-0">
          {{ f.description.label(class="form-label") }}
        </div>
        <div class="input-group input-group-outline">
          {{ f.description(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.semester_uid.label(class="form-label") }} {{
        f.semester_uid(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.credit.label(class="form-label") }} {{
        f.credit(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mx-2">{{ f.files.label(class="form-label") }}</div>
      <div class="card drop-zone position-relative">
        <div
          class="d-grid align-item-center align-content-center justify-content-center w-100 h-100 py-5"
        >
          <div class="text-center">
            <i class="material-symbols-rounded opacity-5 fs-1">upload</i>
          </div>
          <span
            ><strong
              class="open-default-file-input-modal cursor-pointer"
              data-id="{{ f.files.id }}"
              >{{ _("CHOOSE_A_FILE_MSG") }}</strong
            >
            {{ _("OR_DRAG_IT_HERE_MSG") }}</span
          >
        </div>

        <div class="list-section pt-0 pb-2 px-2">
          <hr class="dark horizontal mb-3 mt-0" />
          <div class="list-title fs-5 m-2">{{ _("UPLOADED_FILES_LABEL") }}</div>
          <ul class="list-unstyled d-flex flex-wrap mt-4 mx-2 px-2"></ul>
        </div>
        {{ f.files(class="form-control d-none") }}
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <div class="text-center">
        {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
      </div>
    </div>
  </div>
</form>
{% endwith %}
