{% with f = form.a %}
<form
  autocomplete="off"
  method="POST"
  action="{{ url_for('api.add_exam') }}"
  enctype="multipart/form-data"
>
  {{ f.hidden_tag() }}

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.title.label(class="form-label") }} {{
          f.title(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="px-2 py-0 my-0">
          {{ f.description.label(class="form-label") }}
        </div>
        <div class="input-group input-group-outline">
          {{ f.description(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.total_marks.label(class="form-label") }} {{
          f.total_marks(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.min_marks.label(class="form-label") }} {{
          f.min_marks(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="px-2 py-0 my-0">
          {{ f.exam_date.label(class="form-label") }}
        </div>
        <div class="input-group input-group-outline">
          {{ f.exam_date(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="px-2 py-0 my-0">
          {{ f.exam_time.label(class="form-label") }}
        </div>
        <div class="input-group input-group-outline">
          {{ f.exam_time(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.subject_id.label(class="form-label") }} {{
          f.subject_id(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.class_id.label(class="form-label") }} {{
          f.class_id(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
  </div>
</form>
{% endwith %}
