{% with f = form.a %}
<form
  autocomplete="off"
  method="POST"
  action="{{ url_for('api.add_semester') }}"
>
  {{ f.hidden_tag() }}

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.name.label(class="form-label") }} {{ f.name(class="form-control")
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.number.label(class="form-label") }} {{
          f.number(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.department_uid.label(class="form-label") }} {{
          f.department_uid(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <div class="text-center">
        {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
      </div>
    </div>
  </div>
</form>
{% endwith %}
