{% with f = form.a %}
<form
  method="POST"
  action="{{ url_for('api.add_student') }}"
  enctype="multipart/form-data"
>
  {{ f.hidden_tag() }}

  <div class="row mb-5 mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div class="avatar position-relative drop-zone">
          <img
            src="{{ DEFAULT_AVATAR_URL }}"
            alt="profile_image"
            class="rounded-pill shadow-sm shadow-xl w-100 cursor-pointer output"
            data-role="image"
          />
          {{ f.avatar(class="form-control d-none") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="my-3">
        <div class="input-group input-group-outline my-3">
          {{ f.first_name.label(class="form-label") }} {{
          f.first_name(class="form-control") }}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="my-3">
        <div class="input-group input-group-outline my-3">
          {{ f.middle_name.label(class="form-label") }} {{
          f.middle_name(class="form-control is-invalid") }}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="my-3">
        <div class="input-group input-group-outline">
          {{ f.last_name.label(class="form-label") }} {{
          f.last_name(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.user_name.label(class="form-label") }} {{
          f.user_name(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.email.label(class="form-label") }} {{
          f.email(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="input-group input-group-outline">
          {{ f.password.label(class="form-label") }} {{
          f.password(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="multi-value-input card">
          <div class="input-group input-group-outline">
            {{ f.phones.label(class="form-label") }} {{
            f.phones(class="form-control") }}
          </div>
          <div class="values d-flex flex-wrap"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="my-2">
        <div class="px-2 py-0 my-0">
          {{ f.birthday.label(class="form-label") }}
        </div>
        <div class="input-group input-group-outline">
          {{ f.birthday(class="form-control") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mx-2">{{ f.files.label(class="form-label") }}</div>
      <div class="card drop-zone position-relative">
        <div
          class="d-grid align-item-center align-content-center justify-content-center w-100 h-100 py-5"
        >
          <div class="text-center">
            <i class="material-symbols-rounded opacity-5 fs-1">upload</i>
          </div>
          <span
            ><strong
              class="open-default-file-input-modal cursor-pointer"
              data-id="{{ f.files.id }}"
              >Choose a file</strong
            >
            or drag it here</span
          >
        </div>

        <div class="list-section pt-0 pb-2 px-2">
          <hr class="dark horizontal mb-3 mt-0" />
          <div class="list-title fs-5 m-2">Uploaded Files</div>
          <ul class="list-unstyled d-flex flex-wrap mt-4 mx-2"></ul>
        </div>
        {{ f.files(class="form-control d-none") }}
      </div>
    </div>
  </div>

  <div class="text-center">
    {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
  </div>
</form>
{% endwith %}
