<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="d-flex px-0 py-1">
          <div>
            <img
              src="{{ class.teacher.avatar_path }}"
              class="avatar avatar-lg me-3 border-radius-lg"
              alt="user1"
            />
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h5 class="mb-0">{{ class.teacher.full_name }}</h5>
            <p class="mb-0 mt-0 font-weight-normal text-sm">
              {{ class.teacher.email }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-0">
      <div class="col-md-8">
        <div class="row gx-0 mb-2">
          <div class="col-lg-12 mx-auto">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-dark" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-class"
                    href="javascript:;"
                    role="tab"
                    aria-selected="true"
                  >
                    Class
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-teacher"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    Teacher
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-semester"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    Semester
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-department"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    Department
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-time"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    Time
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row gx-0">
          <div class="p-0 m-0" role="tab-container">
            <!--CLASS-->
            {% include "admin/views/tabs/class.html" %} {% with teacher =
            class.teacher %} {% include "admin/views/tabs/teacher.html" %} {%
            endwith %}
            <!--SEMESTER-->
            {% with semester = class.semester %} {% include
            "admin/views/tabs/semester.html" %} {% endwith %}
            <!--DEPARTMENT-->
            {% with department = class.semester.department %} {% include
            "admin/views/tabs/department.html" %} {% endwith %}
            <!--TIME-->
            {% with time = class.time %} {% include "admin/views/tabs/time.html"
            %} {% endwith %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Students</p>
                    <h4 class="mb-0">{{ class.display_number_of_students }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">people</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Subjects</p>
                    <h4 class="mb-0">
                      {{ class.display_number_of_all_subjects }}
                    </h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">book</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">Exams</p>
                    <h4 class="mb-0">{{ class.display_number_of_exams }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">info</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-lg-8 mx-auto mt-3">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-pills nav-fill p-1 bg-dark" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-students"
                href="javascript:;"
                role="tab"
                aria-selected="true"
              >
                Students
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-subjects"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                Subjects
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-exams"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                Exams
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-results"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                Results
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-attendances"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                Attendances
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row gx-3 my-1">
      <div class="col-md-12">
        <div class="row gx-0 mb-2 mt-5">
          <div role="tab-container">
            <!--STUDENTS-->
            {% with students = class.students %} {% include
            "admin/views/tabs/students.html" %}{% endwith %}
            <!--SUBJECTS-->
            {% with subjects = class.subjects %} {% include
            "admin/views/tabs/subjects.html" %}{% endwith %}
            <!--EXAMS-->
            {% with exams = class.exams%} {% include
            "admin/views/tabs/exams.html" %}{% endwith %}
            <!--RESULTS-->
            {% with results = class.results %} {% include
            "admin/views/tabs/results.html" %}{% endwith %}
            <!--ATTENDANCES-->
            {% with attendances= class.attendances %} {% include
            "admin/views/tabs/attendances.html" %}{% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
