<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{ exam.title }}</h5>
          <p class="mb-0 font-weight-normal text-sm">{{ exam.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-2">
          <div class="col-lg-12 mx-auto">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-dark" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-exam"
                    href="javascript:;"
                    role="tab"
                    aria-selected="true"
                  >
                    {{ _("EXAM_LABEL") }}
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-subject"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    {{ _("SUBJECT_LABEL") }}
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-class"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    {{ _("CLASS_LABEL") }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row gx-0">
          <div class="p-0 m-0" role="tab-container">
            <!--EXAM-->
            {% include "admin/views/tabs/exam.html" %}
            <!--SUBJECT-->
            {% with subject = exam.subject %} {% include
            "admin/views/tabs/subject.html" %} {% endwith %}
            <!--CLASS-->
            {% with class = exam.class_ %} {% include
            "admin/views/tabs/class.html" %} {% endwith %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("RESULTS_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ exam.display_number_of_results }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">info</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("PASSED_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ exam.display_number_of_passed }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">check</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("FAILED_ERROR") }}
                    </p>
                    <h4 class="mb-0">{{ exam.display_number_of_failed }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">warning</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-md-12">
        {% with results = exam.results %} {% if results %}
        <div class="row gx-0 mb-2 mt-5">
          <div class="card">
            <div
              class="bg-gradient-dark card-header mt-n4 mx-3 position-relative z-index-2 shadow-sm rounded-3 py-4"
            >
              <h5 class="mb-0 mx-2">{{ _("RESULTS_LABEL") }}</h5>
            </div>

            <div class="card-body">
              <div class="table-responsive p-0">
                {% include "admin/views/tables/results.html" %}
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>
  </div>
</div>
