<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{ subject.name }}</h5>
          <p class="mb-0 font-weight-normal text-sm">
            {{ subject.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-2">
          <div class="col-lg-12 mx-auto">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-dark" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-subject"
                    href="javascript:;"
                    role="tab"
                    aria-selected="true"
                  >
                    {{ _("Subject") }}
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-semester"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    {{ _("Semester") }}
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link mb-0 px-0 py-1 text-white"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-department"
                    href="javascript:;"
                    role="tab"
                    aria-selected="false"
                  >
                    {{ _("Department") }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row gx-0">
          <div class="p-0 m-0" role="tab-container">
            <!--SUBJECT-->
            {% include "admin/views/tabs/subject.html" %}
            <!--SEMESTER-->
            {% with semester = subject.semester %} {% include
            "admin/views/tabs/semester.html" %} {% endwith %}
            <!--DEPARTMENT-->
            {% with department = subject.semester.department %} {% include
            "admin/views/tabs/department.html" %} {% endwith %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("Teachers") }}
                    </p>
                    <h4 class="mb-0">
                      {{ subject.display_number_of_teachers }}
                    </h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">people</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">{{ _("Exams") }}</p>
                    <h4 class="mb-0">{{ subject.display_number_of_exams }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">info</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">{{ _("Files") }}</p>
                    <h4 class="mb-0">{{ subject.display_number_of_files }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">files</i>
                  </div>
                </div>
              </div>
              <hr class="bg-dark horizontal my-0 opacity-10" />
              <div class="card-footer py-2">
                <span class="font-weight-bolder text-sm"
                  >{{ _("Storage:") }}
                </span>

                <span class="text-sm font-weight-normal"
                  >{{ subject.total_file_size }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-pills nav-fill p-1 bg-dark" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-teachers"
                href="javascript:;"
                role="tab"
                aria-selected="true"
              >
                {{ _("Teachers") }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-exams"
                href="javascript:;"
                role="tab"
                aria-selected="true"
              >
                {{ _("Exams") }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-files"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                {{ _("Files") }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-md-12">
        <div class="row gx-0 mb-2 mt-5">
          <div role="tab-container">
            <!--TEACHERS-->
            {% with teachers = subject.teachers %} {% include
            "admin/views/tabs/teachers.html" %}{% endwith %}
            <!--EXAMS-->
            {% with exams = subject.exams %} {% include
            "admin/views/tabs/exams.html" %}{% endwith %}
            <!--FILES-->
            {% with files = subject.files %} {% include
            "admin/views/tabs/files.html" %}{% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
