<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{ time.title }}</h5>
          <p class="mb-0 font-weight-normal text-sm">{{ time.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-3">
          <div class="card">
            <div class="card-header pb-0">
              <h5>{{ _("TIME_INFORMATION_LABEL") }}</h5>
            </div>
            <hr class="horizontal my-0 opacity-10" />
            <div class="card-body p0">
              {% include "admin/views/information/time.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">{{ _("CLASSES_LABEL") }}</p>
                    <h4 class="mb-0">{{ time.display_number_of_classes }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">school</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">{{ _("STUDENTS_LABEL") }}</p>
                    <h4 class="mb-0">{{ time.display_number_of_students }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">people</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ps-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">{{ _("TEACHERS_LABEL") }}</p>
                    <h4 class="mb-0">{{ time.display_number_of_teachers }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">people</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-lg-6 mx-auto mt-3">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-pills nav-fill p-1 " role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-classes"
                href="javascript:;"
                role="tab"
                aria-selected="true"
              >
                {{ _("CLASSES_LABEL") }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-teachers"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                {{ _("TEACHERS_LABEL") }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 px-0 py-1 text-white"
                data-bs-toggle="tab"
                data-bs-target="#tab-students"
                href="javascript:;"
                role="tab"
                aria-selected="false"
              >
                {{ _("STUDENTS_LABEL") }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row gx-3 my-1">
      <div class="col-md-12">
        <div class="row gx-0 mb-2 mt-5">
          <div role="tab-container">
            <!--Students-->
            {% with students = time.students.all() %} {% include
            "admin/views/tabs/students.html" %}{% endwith %}
            <!--Teachers-->
            {% with teachers = time.teachers.all() %} {% include
            "admin/views/tabs/teachers.html" %}{% endwith %}
            <!--Classes-->
            {% with classes = time.classes.all() %} {% include
            "admin/views/tabs/classes.html" %}{% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
